<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/portfolio.styles.css" asp-append-version="true" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/site.webmanifest">
    <title> @ViewData["Title"] - Yolisa Pingilili</title>
</head>
<body>
    <header>
        <nav class="navigation-bar">
            <div class="container">
                <div class="navigation">
                    <ul class="nav-list">
                        <li class="nav-list-item">
                            <a class="something" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-list-item">
                            <a class="something" asp-page="/Projects">Projects</a>
                        </li>
                        <li class="nav-list-item">
                            <a class="something" asp-page="/Contact">Contact</a>
                        </li>
                        <li class="nav-list-item">
                            <img src="~/img/light.png" alt="light mode button" id="light-dark-toggle" class="mode-toggle">
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" >
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Yolisa Pingilili
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>