@page
@using portfolio.Models
@model PrivacyModel
@{
    ViewData["Title"] = "Projects";
}

@* <h4 id="stack-header">Stack</h4> *@
<div class="stack">
    
    <div class="tech">
        <img src="./img/java.png" alt="java logo" class="logo">
        <p>java</p>
    </div>
    <div class="tech">
        <img src="./img/go.png" alt="golang logo" class="logo">
        <p>golang</p>
    </div>
    <div class="tech">
        <img src="./img/csharp.png" alt="C# logo" class="logo">
        <p>C#</p>
    </div>
    <div class="tech">
        <img src="./img/python.png" alt="python logo" class="logo">
        <p>python</p>
    </div>
    <div class="tech">
        <img src="./img/html.png" alt="html logo" class="logo">
        <p>HTML</p>
    </div>
    <div class="tech">
        <img src="./img/css.png" alt="css logo" class="logo">
        <p>CSS</p>
    </div>
</div>

<div class="projects">
    @foreach(Project project in Model.projects)
    {
        <div class="project">
            <p class="project-title">@project.name</p>
            <p class="project-desc">some random generic description bullshit because i forgot to fetch the actual descriptions.</p>
            <p>@project.language</p>
            <a href=$"{@project.html_url}" target="_blank" rel="noopener noreferrer">Source Code</a>
        </div>
    }
</div>
